.wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.main_note{
    background-color: rgb(46, 46, 46);
    height: 100vh;
}
.navme{
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.628);
    height: 8%;
}